.hideScrollBar::-webkit-scrollbar {
    display: none;
}
.depositBannerBg {
    background-image: url("./assets/images/empty-deposits-banner-f2392031\ \(1\).svg");
    background-size: cover; background-color: red;
}

