.hideScrollBar::-webkit-scrollbar {
    display: none;
}
.depositBannerBg {
    background-image: url("./assets/images/empty-deposits-banner-f2392031\ \(1\).svg");
    background-size: cover;
}

/* .homeBtn {
    background: linear-gradient(to right, #C4FFF1, #b5e6db, #5EC8B1, #5EC8B1);
}
.homeText {
    background: linear-gradient(to right, #edf9f6, #b5e6db, #6CF9D8, #6CF9D8);
    -webkit-background-clip: text;
    color: transparent !important;
} */

.homeBtn {
    background: linear-gradient(to right, #f5f5f5, #f5f5f5, silver, silver);
}
.homeText {
    background: linear-gradient(to right, #f5f5f5, #f5f5f5, silver, silver);
    -webkit-background-clip: text;
    color: transparent !important;
}

